<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="KishanSuit">
<listeners>
        <listener class-name="com.eva.listener.MyTestListener" />
    </listeners>
  <test thread-count="5" name="KishanTest">
  
    <parameter name="browser" value="chrome" />
    <parameter name="username" value="admin" />
    <parameter name="password" value="admin" />



    <classes>
      <class name="com.evs.vtiger.testScript.Marketing"/>
    </classes>
    
<!--     <classes> -->
<!--     <class name="com.eva.vtiger.saletestScript.SalesInvoice"></class> -->
<!--     </classes> -->
    
    

  </test> 
</suite> 
